fastapi
uvicorn
websockets
python-multipart
langchain
langchain-community
openai
tiktoken
faiss-cpu
motor
pymongo
requests
beautifulsoup4
html5lib
python-dotenv
pydantic
pydantic-settings
gunicorn
python-json-logger
backoff
